
        
{% if request.user.is_authenticated %}
<section class="about-section text-center" id="about"
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src={{ user.profile.image.url }} class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title text-primary">{{ user.first_name }} {{ user.last_name }}</h3>
                    <h5 class="card-title">@{{ user.username | upper }}</h5>
                    <p class="card-text mt-3">{{ user.profile.biografia }}</p>
                    <a href={% url 'logout' %} class="btn btn-sm btn-success">Cerrar Sesión</a>
                    {% if perms.AppECP.add_producto %}
                    <a href="{% url 'List' %}" class="btn btn-sm btn-success">Editar Productos</a>
                    <a href="{% url 'New' %}" class="btn btn-sm btn-success">Cargar Productos</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
{% endif %}
{% endblock %}