{% extends "AppECP/home.html" %}

{% block content %}
                {% csrf_token %}
                
                               <!-- Masthead-->
                               <header class="masthead">
                                <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                                    <div class="d-flex justify-content-center">
                                        <form action="{% url 'busquedaProducto' %}" method="GET" class="form-inline my-2 my-lg-0">
                                            <input class="form-control mr-sm-2" name="texto" type="text" placeholder="Buscar producto...">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscador</button>
                                        </form>
                                    </div>
                                </div>
                            </header>
                        <!--aca comienzan los productos, el template completo esta en entrega final Ecomerce,1-76--> 
                        <section class="py-5">
                          <div class="row">
                              {% for producto in producto %}
                              <div style="background-color: grey;" class="row gx-lg-4 gx-lg-5">
                                  <div class="card" style="width: 20rem;">
                                        {% if producto.image %}
                                      <img src="{{ producto.image.url }}" class="card-img-top" alt="..." width="200" height="200" ></img>
                                      {% endif %}
                                      <div class="card-body">
                                          <h5 class="card-title">{{producto.nombre}}</h5>
                                          <p class="card-text">{{producto.encabezado}}</p>
                                          <p class="card-text">(${{producto.precio}})</p>
                                          <a href="{% url 'Detail' producto.id %}" class="btn btn-primary">Ver Detalle</a>
                                      </div>
                                    </div>
                              </div>
                          </div>
                        </section>
                        {% endfor %}
                        <div>
                            {% include 'AppECP/paginator.html' %}
                        </div>
                        {% endblock %}
                        </body>
                    </html>     
         
  
     
                      

