

<h2>Resultado:</h2>
<p>Estamos buscando la Comision Nº: {{comision}}</p>



<ul>
 {% for producto in producto %}
     <div class="card">
        <div class="card-title">
            <h3 class="card-title text-primary">{{producto.nombre}} </h3>
            <img src={{ producto.image.url }} class="card-img-top" alt="...">
            <h5 class="card-title">{{producto.encabezado}}</h5>
            <hr>
            <span>{{producto.precio}} {{producto.category}}  {{producto.fabricante}}</span>
            <hr>
            <a href={% url 'products' %} class="btn btn-sm btn-success"> Volver al catalogo</a>
        </div>
    </div>
 {% endfor %}


</ul>
{% else %}
<p>No hay datos con esa descripcion</p>

{% endif %}

<p style="color: red;">{{respuesta}}</p>

